@charset "utf-8";

body {
  margin: 0;
}

header, main {
  max-width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  height: 300px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 36px;
  line-height: 300px;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 300px;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

header li {
  line-height: 300px;
}

/* img */
.top-img {
  width: 100%;
  object-fit: cover;
}

/* main */
section {
  margin: 120px 40px 0; 
}

section h2 {
  text-align: center;
  margin: 0;
}

/* main/about */
.about ul {
  list-style: none;
  padding: 0;
}

.about li:nth-child(1) {
  margin-bottom: 30px;
}

/* main/works */
.pictures {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.works img {
  width: calc((100% - 40px) / 3)
}

.works img:nth-of-type(n + 4) {
  margin-top: 20px;
}

/* main/news */
.news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #ddd;
}
.news dt {
  width: calc(30% - 120px);
  border-bottom: solid 1px #ddd;
  padding: 15px 30px;
}

.news dd {
  border-bottom: solid 1px #ddd;
  overflow: hidden;
  width: 70%;
  display: block;
  padding: 15px 30px;
  margin: 0;
}

/* main/contact */
.contact dl{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contact dt {
  margin: 10px 20px 0;
  width: 10%;
}

.contact dd {
  width: calc(90% - 40px);
  margin: 10px 0 0;
}

.contact dd input {
  width: 100%;
  height: 40px;
}

.contact dd textarea {
  width: 100%;
}

.button {
  margin: 0 auto;
  padding: 8px;
  background-color: #444;
  color: white;
  border-radius: 3px;
  display: block;
  width: 48px;
  text-align: center;
  cursor: pointer;
}

/* footer */
footer {
  margin-top: 100px;
  background: #444;
  color: white;
  text-align: center
}

@media(max-width:600px) {
  /* header */
  header {
    display: block;
    text-align: center;
    height: auto;
  }

  h1 {
    line-height: 50px;
    font-weight: normal;
    margin: 10px 0;
  }

  header ul {
    margin: 0 auto;
  }

  header li {
    line-height: 50px;
    font-size: 16px;
  }

  /* img */
  .top-img {
    max-height: 300px;
    height: 400px;
  }
  
  /* main */
  section {
    margin: 60px 40px 0; 
  }

  /* main/works */
  .pictures {
    display: block;
  }

  .pictures img {
    width: 100%;
    margin-top: 16px;
  }

  .contact dt {
    width: 100%;
    margin: 0;
  }
  .contact dd {
    width: 100%;
    margin: 0 0 20px;
  }

}
